body {
    background-color: #d4f8d4;
}

.anti-colamento-lateral {
    padding-left: 2%;
    padding-right: 2%;
}

.registration-form {
    margin-top: 15%;
    padding: 50px 0;
}

.registration-form form {
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.075);
}

.registration-form .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #1db01d;
    border: none;
    color: white;
    margin-top: 20px;
}
.botao-menu{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #1db01d;
    border: none;
    color: white;
    margin-top: 20px;
}
.botao-menu:hover {
    background-color: #0f5c0f;
    color: white;
    
}

.strong {
    font-weight: bold;
}

.espaco {
    margin-top: 2%;
    margin-bottom: 4%;
}

.titulo-menu {
    color: #1db01d;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 5%;
}