.for-body {
    background-color: #d4f8d4;
    padding-left: 2%;
    padding-right: 2%;
}

.title {
    margin-top: 1%;
    margin-bottom: 3%;
    text-align: center;
    color: #1db01d;
    font-weight: bold;
}

.registration-form {
    padding: 50px 0;
}

.registration-form form {
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 35px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.075);
}

.registration-form .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #1db01d;
    border: none;
    color: white;
    margin-top: 20px;
}

.create-account:hover {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #0f5c0f;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .item {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.strong {
    font-weight: bold;
}

.espaco {
    margin-top: 2%;
    margin-bottom: 3%;
}


.table-dados-form {
    background-color: #fff;
    margin: 0 auto;
    max-width: 50%;
    position: relative;
    padding: 35px 70px;
    border: 2%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.075);
}

.table-dados-allign {
    max-width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
}

.table-dados-table {
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    border: 2%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.075);
}

.btn-voltar {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #1db01d;
    border: none;
    color: white;
    margin-top: 20px;
}

.btn-voltar:hover {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #0f5c0f;
    border: none;
    color: white;
    margin-top: 20px;
}

.td-style {
    background-color: #1db01d;
    color: white;
}

.borda-table {
    width: 100%;
}
.espaco{
    margin-top: 2%;
    margin-bottom: 2%;
}